body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #252C36;
}

.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  #renderCanvas {
    display: table-cell;
    margin: 0;
    height: 100%;
    width: 100%;
  }
}